---
import Layout from '../layouts/Layout.astro';
import Header from '@/sections/Header.astro';
import Hero from '@/sections/Hero.astro';
import Offers from '@/sections/Offers.astro';
import Services from '@/sections/Services.astro';
import Footer from '@/sections/Footer.astro';
---

<Layout title="Soltraveltour">
	<main>
		<Header />
		<div>
			<Hero />
			<Offers />
			<Services />
		</div>
		<Footer />
	</main>
</Layout>
