---

---

<a class="btn" rel="noreferer" role="button">
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>

<style>
  a {
    padding: 8px 25px;
    background: rgb(1, 174, 1);
    color: #fff;
    border-radius: 0.2em;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }

  a:hover {
    background: rgb(1, 174, 1);
  }
</style>
