---

---

<section id="about">
  <h2>Conócenos</h2>
  <p>
    Bienvenido a Soltraveltour, tu puerta de entrada al mundo de las
    experiencias inolvidables.
  </p>
  <p>
    Somos una agencia de viajes apasionadas y comprometida, dedicada a crear
    aventuras únicas y memorables para cada uno de nuestros viajeros. Nuestra
    misión es hacer realidad tus sueños de explorar destinos asombrosos,
    sumergirte en culturas fascinantes y vivir momentos inigualables.
  </p>
  <p>
    Con un equipo de expertos en viajes y una profunda pasión por el turismo, te
    garantizamos una planificación impecable, atención personalizada y una
    experiencia de viaje excepcional en cada paso del camino.
  </p>
</section>

<style>
  section {
    width: 85%;
    margin: auto;
    padding: 40px 0;
  }

  section h2 {
    display: flex;
    justify-content: center;
  }

  section p {
    line-height: 1.7;
  }
</style>
