---

---

<footer class="footer">
  <section class="f-header">
    <div class="logo-text">
      <img
        src="../../public/images/logo-suntraveltour.png"
        alt="Soltraveltour logo..."
      />
      <p>Te ayudamos a encontrar vuelos al mejor precio.</p>
    </div>

    <div class="footer-services">
      <h3>Servicios</h3>
      <p>Vuelos baratos</p>
      <p>Hoteles baratos</p>
      <p>Asesoría de visados</p>
      <p>Seguro de viajes</p>
    </div>

    <div class="footer-legalinfo">
      <h3>Información legal</h3>
      <a href="#" target="_blank">aviso legal</a>
      <a href="#" target="_blank">Política de privacidad</a>
      <a href="#" target="_blank">Política de cookies</a>
      <a href="#" target="_blank">Contacto</a>
    </div>

    <div class="footer-social">
      <h3>Redes Sociales</h3>
      <a href="#" target="_blank">Instagram</a>
      <a href="#" target="_blank">Facebook</a>
      <a href="#" target="_blank">TikTok</a>
      <a href="#" target="_blank">LinkedIn</a>
    </div>
  </section>
  <div class="rights">
    <p>Copyright 2024 ©. Todos los derechos reservados - 3p Agencia.</p>
  </div>
</footer>

<style>
  .footer {
    width: 85%;
    margin: auto;
    background: #000;
    color: #fff;
    font-family: "Quicksand Variable", sans-serif !important;
  }
</style>
