---

---

<section>

    <div>
        <h2>Descubre la aventura y la emoción con nuestros viajes inolvidables.</h2>
        <p>
            <span>
                Sumérgete en destinos exóticos, saborea culturas fascinantes, 
                y crea recuerdos inolvidables sin paquetes de viaje personalizados</span>.
            <span class="span">¡Que la aventura comience hoy mismo!</span>
        </p>
        <a
            href="https://api.whatsapp.com/send?phone=34600284568" 
            rel="noreferer noopener"  
            role="button"
            target="_blank">INTERESADO <span class="material-symbols-outlined airplane-ticket">airplane_ticket</span>
        </a>
    </div>

    <figure>
        <img src="public/images/imagen-hero-2.webp" alt="Image can't be showed">
    </figure>
    
</section>

<style>
    section {
        width: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 50px;
        margin: auto;
        gap: 3rem;
        transition: all 0.3s ease;
    }

    section > div > h2 {
        font-size: 2.05em;
        color: #fe7913;
        font-weight: 900;
        transition: all 0.3s ease;
    }

    section > div {
        width: 45%;
    }

    section div {
        margin: auto;
    }

    a {
        padding: 10px 25px;
        background: #049edb;
        color: #fff;
        border-radius: .2em;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        background: #028dc5;
    }

    section > p > span: {
        font-size: 1.1em;
        opacity: .7;
        line-height: 1.7em;
        font-weight: 300;
    }

    section > p {
        text-wrap: pretty;
        padding-bottom: 30px;
    }

    .span {
        color: #fe7913;
        font-weight: 600;
        font-size: 1.20em;
    }
</style>