---
import HeaderButton from "@/components/HeaderButton.astro";
---

<section>
  <div>
    <h2>Descubre la aventura y la emoción con nuestros viajes inolvidables.</h2>

    <article>
      <span>
        Sumérgete en destinos exóticos, saborea culturas fascinantes, y crea
        recuerdos inolvidables sin paquetes de viaje personalizados.
        <strong>¡Que la aventura comience hoy mismo!</strong>
      </span>
    </article>

    <div class="btn-container">
      <HeaderButton
        client:visible
        slot="after"
        href="https://api.whatsapp.com/send?phone=34600284568"
      >
        INTERESADO <span
          class="material-symbols-outlined airplane-ticket"
          style="font-size: 20px !important;">airplane_ticket</span
        >
      </HeaderButton>
    </div>
  </div>

  <figure>
    <img src="public/images/imagen-hero-2.webp" alt="Image can't be showed" />
  </figure>
</section>

<style>
  section {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    margin-top: 0;
    gap: 3rem;
    transition: all 0.3s ease;
  }

  section > div > h2 {
    font-size: 2.05em;
    color: #fe7913;
    font-weight: 900;
    transition: all 0.3s ease;
    margin-top: 0;
  }

  section > div {
    width: 45%;
    box-sizing: border-box;
  }

  section > div article {
    padding-bottom: 30px;
    box-sizing: border-box;
  }

  section > div span {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
  }

  .btn-container {
    width: 10rem;
  }

  a {
    padding: 10px 25px;
    background: #049edb;
    color: #fff;
    border-radius: 0.2em;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    background: #028dc5;
  }

  strong {
    color: #fe7913;
  }

  figure img {
    width: 35vw;
  }
</style>
